body, html { margin: 0; padding: 0; }

body { font-family: sans-serif; color: black; background: white; }
a { color: black; }
a:hover { color: red; }

#container { }

#header { text-align: center; }
#header h1 { }
#header img { width: 600px; }

#navigation { display: none; }

#main { width: 500px; margin: 0 auto; margin-top: 50px; }
#main h2 { }
#main p { }

#footer { display: none; }

#updates { margin-right: -300px; float: right; font-size: 8pt; color: #999; padding: 20px; margin-left: 40px; }
#socialmedia {
/*  position: absolute;
  z-index: 10;
  top: 8px;
  right: 0px;
*/  width: 220px;
/*  height: 28px;*/
  overflow: hidden;
}

/*#socialmedia div { float: left; margin-left: 8px; }*/
#socialmedia div { display: block; margin-top: 10px; }
#socialmedia .google { }
#socialmedia .twitter { }
#socialmedia .facebook { }
